.chicken {
  margin-top: 106px;
  max-width: 1238px;
  &__card {
    border-radius: 30px;
    border: 1.5px solid #F4F4F6;
    background: #FFF;
    box-shadow: 7.5px 91px 45px 0px rgba(229, 229, 229, 0.70);
  }
  &__text {
    display: flex;
    padding: 26px 30px 31px 46px;
    border-radius: 30px;
    background:  #FFF;
    box-shadow: 7.5px 91px 45px 0px rgba(229, 229, 229, 0.70);
    span {
      color: #8E97A6;
      font-family: 'Manrope',sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px; /* 133.333% */
    }
    h1 {
      color: #323142;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 53px; /* 133.41% */
    }
    div {
      display: flex;
      align-items: center;
      margin-left: clamp(121px, 20vw, 170px);
      margin-right: clamp(267px, 30vw, 376px);
    }
  }
}
@media screen and (max-width: 1440px) {
.chicken {
  margin-top: 75px;
  &__text {
    img {
      max-width: 29px;
    }

    span {
      font-size: 18px;
      line-height: 24px; /* 133.333% */
    }
    div {
      margin-left: 106px;
      margin-right: 268px;
    }
    h1 {
      font-size: 28px;
      line-height: 37px; /* 133.41% */
    }
  }
  &__card {
    max-width: 880px;
    img {
      max-width: 880px;
    }
  }
}
}