.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 204px;
  margin-bottom: 136px;

  &__support {
    display: flex;
    max-width: 500px;
    flex-direction: column;

    form {
      margin-top: 62px;
      display: flex;
      max-width: 500px;
      flex-direction: column;

      button {
        margin-top: 43px;
      }

      input {
        margin-bottom: 20px;
        color: #B6B6B6;
        font-family: 'Inter', sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 25.338px; /* 150% */
        text-transform: uppercase;
        border-radius: 16.892px;
        border: 2px solid #6C5FBC;
        background: #F9F9F9;
        padding: 21px 8px 21px 25px;
      }

      textarea {
        margin-top: 32px;
        color: #B6B6B6;
        font-family: 'Inter', sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 25.338px; /* 150% */
        text-transform: uppercase;
        border-radius: 16.892px;
        border: 2px solid #6C5FBC;
        background: #F9F9F9;
        padding: 21px 8px 21px 25px;
        max-width: 499px;
        resize: none;
        max-height: 345px;
        height: 345px;
        width: 100%;
      }
    }

    h1 {
      font-size: 40px;
    }
  }

  &__title {
    box-shadow: -287px 310px 1px 366px #6C5FBC;
    background: #6C5FBC;
    max-width: 314px;
  }

  &__just {
    h1 {
      color: #F9F9F9;
      font-size: 48px;
      font-weight: 600;
      line-height: 105%; /* 50.4px */
    }

    img {
      margin-top: 150px;
      margin-left: 241px;
      max-width: 204px;
    }
  }
}
@media screen and (max-width: 1440px) {
  .contact {
    &__support {
      max-width: 305px;
      width: 100%;
      form {
        button {
          margin-top: 30px;
        }
        textarea {
          font-size: 12.884px;
          line-height: 19.326px; /* 150% */
        }
        input {
          padding: 15px 5px 15px 18px;
          font-size: 12px;
          line-height: 18px; /* 150% */
          margin-bottom: 18px;
        }
      }
      h1 {
        font-size: 28px;
        line-height: 39px;
      }
    }
    &__just {
      img {
        margin-top: 60px;
        margin-left: 277px;
      }
    }
    &__title {
      box-shadow: -165px 180px 1px 238px #6C5FBC;
      h1 {
        font-size: 34px;
        line-height: 105%; /* 35.84px */
      }
    }
  }
}