.container {
  max-width: 1250px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 890px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 315px;
  }
}