.dishes {
  margin-top: 100px;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;

  h1 {
    text-align: center;
  }

  &__cards {
    display: flex;
    margin-top: 78px;
    justify-content: space-between;
  }

  &__card {
    img:first-child {
      cursor: pointer;
      margin-top: 24px;
      margin-right: 22px;
      align-self: end;
      max-width: 22px;
      max-height: 18px;
    }

    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 225px;
    width: 100%;
    border-radius: 34.5px;
    border: 1.4px solid #F4F4F6;
    background: #FFF;
    box-shadow: 7px 82px 41px 0px rgba(229, 229, 229, 0.70);
  }

  &__healthy {
    color: #DAA31A;
    font-size: 11.4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2px 7px;
    border-radius: 4.828px;
    background: #F7EDD0;

    &--trending {
      color: #FB471D;
      background: #F7C5BA;
    }

    &--supreme {
      color: #309D5B;
      background: #33ac6466;
    }
  }

  &__info {
    padding: 0 27px 30px 23px;
    margin-top: -20px;

    h4 {
      color: #323142;
      font-size: 23px;
      font-style: normal;
      font-weight: 600;
      line-height: 37px; /* 162.5% */
    }
  }

  &__feedback {
    display: flex;
    align-items: center;

    span {
      color: #8E97A6;
      font-family: 'Manrope', sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px; /* 133.333% */
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;

    button {
      background: #323142;
      padding-right: 10px;
      padding-left: 10px;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 29px;
      cursor: pointer;

      &:hover {
        background: #5c5a76;
      }

      &:active {
        background: #676589;
      }
    }

    h3 {
      color: #323142;
      font-family: 'Manrope', sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px; /* 155.556% */
      span {
        color: #8E97A6;
        font-size: 19px;
      }
    }
  }

  a {
    color: #ACADB9;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    margin-top: 65px;
    font-weight: 500;
    line-height: 45px; /* 225.921% */
    letter-spacing: -0.1px;

    &:hover {
      color: #888993;
    }
  }
}