.footer {
  background: #EAEAEA;
  padding: 96px 90px 83px 103px;
  &__social {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 29px;
    nav {
      display: flex;
      gap: clamp(50px, 5vw, 70px);
      a {
        color: #999;
        font-family: 'Inter',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px; /* 150% */
        text-transform: capitalize;
        text-decoration: none;
        &:hover {
          color: #b9b9b9;
        }
      }
    }
  }
  span {
    color: #999;
    font-family: 'Inter',sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  span {
    color: #6C5FBC;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 37.082px */
  }
}
@media screen and (max-width: 1440px) {
.footer {
  padding: 66px 73px 64px 57px;
  &__social {
    margin-top: 40px;
    img {
      max-width: 166px;
    }
  }
  &__info {
    padding-bottom: 20px;
    nav {
      a {
        font-size: 13px;
      }
    }

  }
}
  .logo {
    span {
      font-size: 20px;
    }
    img {
      max-width: 44px;
    }
  }
}
@media screen and (max-width: 1024px) {
.footer {
  &__social {
    span {
      font-size: 13px;
      line-height: 19.914px; /* 147.059% */
    }
  }
  &__info {
    flex-direction: column;
    gap: 53px;
    nav {
      flex-direction: column;
      gap: 30px;
      a {
        font-size: 14px;
        line-height: 18.884px; /* 134.887% */
        text-transform: uppercase;
      }
    }
  }
}
}