h1 {
  color: #18181B;
  font-size: 50.923px;
  font-style: normal;
  font-weight: 700;
  line-height: 58.198px; /* 114.286% */
  text-transform: capitalize;
  span {
    color: #6C5FBC;;
  }
}
@media screen and (max-width: 1440px) {
  h1 {
    font-size: 36px;
    line-height: 41.385px; /* 114.286% */

  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 30px;
    line-height: 34.23px; /* 114.099% */
    text-transform: capitalize;
  }
}
