.pricing {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 51px #3231422e;
  padding: 51px 0 54px 0;

  &__buttons {
    display: flex;
    padding: 44px 103px;
    justify-content: flex-end;
    gap: 228px;
  }

  &__core {
    padding: 50px 215px 62px 65px;
    border-bottom: 1px solid #CBCBCB;;

    ul {
      display: flex;
      flex-direction: column;
      gap: 35px;

      li {
        list-style-type: none;
        color: #606060;
        font-size: 22px;
        font-weight: 500;
        line-height: 32px; /* 145.455% */
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          gap: 338px;
        }
      }
    }
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    gap: 261px;
    padding-right: 138px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CBCBCB;

    div {
      display: flex;

      span {
        display: flex;
        color: #272E35;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
        span {
          font-size: 64px;
          line-height: 72px; /* 112.5% */
        }
      }

      p {
        color: #6E757C;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
      }
    }
  }

  &__title {
    padding: 0 92px 40px 65px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CBCBCB;
    gap: 225px;

    &-main {
      gap: 25px;
      margin-right: 203px;

      h2 {
        font-size: 40px;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 35px;

      h2 {
        color: #282828;
        font-size: 35px;
        font-weight: 600;
        line-height: 120%; /* 42px */
      }

      span {
        color: #6E757C;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        max-width: 158px;
      }
    }
  }
}

.our-pricing {
  margin-top: 66px;
  padding-top: 43px;

  h1 {
    color: #F9F9F9;
    font-size: 40px;
  }

  &__title {
    display: flex;
    padding-top: 45px;
    padding-bottom: 213px;
    justify-content: end;
    background: #5C4EAE;;

    > svg {
      align-self: end;
      margin-left: 355px;
      margin-right: 121px;
    }
  }

  &__img {
    margin-top: -291px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) {
  .pricing {
    padding: 36px 0 38px 0;

    &__buttons {
      padding: 31px 74px 0;
    }

    &__core {
      padding: 35px 123px 44px 44px;

      ul {
        li {
          font-size: 15px;
          font-weight: 500;
          line-height: 22.756px; /* 145.455% */
          div {
            svg {
              max-width: 25px;
            }
          }
        }
      }
    }

    &__price {
      padding: 28px 97px 33px;

      div {
        align-items: flex-end;

        p {
          font-size: 11px;
          font-weight: 500;
          line-height: 17.067px; /* 150% */
        }

        span {
          font-size: 17px;
          font-weight: 600;
          line-height: 22.756px; /* 133.333% */
          span {
            font-size: 45px;
            font-weight: 600;
            line-height: 51.2px; /* 112.5% */
          }
        }
      }
    }

    &__title {
      &-main {
        margin-right: 0;
      }

      div {
        gap: 18px;

        span {
          font-size: 11px;
          font-weight: 500;
          line-height: 17.067px; /* 150% */
        }

        h2 {
          font-size: 28px;
          font-weight: 600;
          line-height: 120%; /* 34.133px */
          letter-spacing: -0.711px;
        }
      }
    }
  }
  .our-pricing {
    padding-top: 0;
    margin-top: 47px;

    &__img {
      margin-top: -223px;

      img {
        max-width: 630px;
      }
    }

    &__title {
      justify-content: center;

      h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 120%; /* 34.133px */
        letter-spacing: -0.711px;
      }

      svg {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .pricing {
    padding-top:  0;
    &__price {
      padding: 0 0 28px 26px;
      justify-content: flex-start;
      div {
        display: none;

        h2 {
          font-size: 26px;
        }
        &:first-child {
          display: flex;
        }
      }
    }
    &__core {
      ul {
        li {
          font-size: 12px;
          line-height: 17.295px; /* 145.455% */
          div {
            svg {
              display: none;
              &:first-child {
                display: block;
              }
            }
          }
        }
      }
    }
    &__title {
        padding: 26px 0 17px 24px;
      border-bottom: none;
      div {
        > span {
          display: none;
        }
        &:first-child {
          display: flex;
        }
        display: none;
      }
    }
  }
  .our-pricing {
    &__title {
      padding-bottom: 62px;
    }

    &__img {
      overflow: hidden;
      margin-top: -84px;

      img {
        margin-left: 124px;
        max-width: 422px;
      }
    }
  }
}