.product {
  margin: auto;
  max-width: 681px;
  &__total {
    margin-top: 36px;
    button {
      margin-top: 62px;
      width: 100%;
    }
    .product__end {
      padding-top:29px ;
      border: none;
      span {
        opacity: 1;
        font-size: 25px;
        font-weight: 600;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px dashed #ACADB9;
      padding-top:16px;
      padding-bottom: 8px;
    }
    span {
      opacity: 0.7;
      color: #323142;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 117.5%; /* 23.5px */
      letter-spacing: -0.4px;
    }
  }
  &__input {
    display: flex;
    margin-top:89px;
    div {
      background: #F1F1F1;;
      padding: 24px 25px 25px 21px;
      width: 100%;
      margin-right: 8px;
      display: flex;
      align-items: center;
      gap: 14px;
      border-radius: 10px;
    }
    input {
      background: none;
      border: none;
      color:  #C2C3CB;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 117.5%; /* 21.15px */
      letter-spacing: -0.36px;
    }
  }
  &__cards {
    margin-top: 199px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__amount {
    display: flex;
    gap: 11px;
  }
  &__card {
    display: flex;
    border-radius: 12px;
    background: #FFF;
    justify-content: space-between;
  }
  &__counter {
    padding: 23px 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: #323142;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 24.619px */
    }
    button {
      border-radius:10px;
      border: 1px solid #323142;
      cursor: pointer;
    }
  }
  &__button-minus {
    padding: 6px 12px;
    background: none;
    color: #323142;
  }
  &__button-plus {
    padding: 5px 10px;
    background: #323142;
    color:#FFF;
  }
  &__info {
    display: flex;
    gap: 14px;
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #323142;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 30.8px */
      span {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
.product {
  max-width: 484px;
  &__cards {
    width: 100%;
    margin:131px auto 0 auto;
  }
  &__amount {
    align-items: center;
  }
  &__counter {
    p {
      font-size: 12px;
      line-height: 140%; /* 17.507px */
    }
  }
  &__total {

    .product__end {
      padding-top: 20px;
      div {
        padding-top: 11px;
        padding-bottom: 5px;
      }
      span {
        font-size: 18px;
        font-weight: 600;
        line-height: 117.5%; /* 20.889px */
      }
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 117.5%; /* 16.711px */
    }
  }
  &__input {
    margin:63px auto 0 auto;
  justify-content: space-between;
    div {
      max-width: 384px;
    }
   > button {
     padding: 17px 28px;
      font-size: 12px;
      font-weight: 500;
      line-height: 117.5%; /* 15.04px */
    }
  }
  &__button {
    &-plus {
      padding: 2px 9px;
    }
    &-minus {
      padding: 2px 9px;
    }
  }
  &__info {
    align-items: center;
    span {
      font-size: 15px;
      font-weight: 600;
      line-height: 140%; /* 21.902px */
      span {
        font-size: 13px;
      }
    }
    img {
      max-width: 70px;
      max-height: 72px;
    }
  }
}
}