.questions {
  margin-top: 140px;
  margin-bottom: 174px;

  &__question {
    padding: 29px 0 15px 0;
    border-bottom: 1px solid #ADADAD;;
    transition: 300ms;

    p {
      padding-left: 14px;
      color: #ACADB9;
      animation-duration: 1s;
      animation-name: fadein;
    }
  }

  &__questions {
    margin-top: 90px;
    transition: 300ms;

    .questions__question {
      button {
        border-radius: 20px;
        max-height: 30px;
        padding: 1px 8px;
      }
    }

    h3 {
      padding-left: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #323142;
      font-size: 23px;
      font-style: normal;
      font-weight: 600;
      line-height: 59.24px; /* 252.982% */
    }
  }

  h1 {
    text-align: center;
    font-size: 45px;
  }

  &__title {
    gap: 17px;
    max-width: 532px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
  }
}

@media screen and (max-width: 1440px) {
  .questions {
    margin-top: 100px;
    margin-bottom: 123px;
    &__questions {
      margin-top: 64px;
    }
    &__question{
      padding: 20px 0 11px 0;
      h3 {
        font-size: 16px;
        line-height: 42px;
      }
    }
    &__title {
      gap: 12px;
      max-width: 396px;
    }
    h1 {
      font-size: 32px;
    }
  }
}