.restaurants {
  margin-top: 100px;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;;
  a {
    margin-top: 66px;
  }
  &__info {
    padding: 11px 27px 18px 34px;
  }

  h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;

    span {
      font-size: 45px;
      font-weight: 600;
      color: #6C5FBC;
      font-family: "Poppins", sans-serif;
    }

  }

  &__cards {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    img {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    &:first-child {
      h6 {
        color: #DAA31A;
        background: #F7EDD0;
      }
    }

    &:last-child {
      h6 {
        background: #F7EDD0;
        color: #DAA31A;
      }
    }

    max-width: 396px;
    border-radius: 30px;
    border: 1.3px solid #F4F4F6;
    background:  #FFF;
    box-shadow: 5px 71px 35px 0px rgba(229, 229, 229, 0.70);
  }

  &__feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }

  h6 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FB471D;
    padding: 3px 9px 3px 9px;
    border-radius: 5.4px;
    background: #F7C5BA;
    display: inline-block;
  }

  h3 {
    color: #323142;
    font-size: 25.786px;
    font-style: normal;
    font-weight: 600;
    line-height: 41.903px; /* 162.5% */
  }

  span {
    color: #8E97A6;
    font-family: 'Manrope', sans-serif;
    font-size: 19.34px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.786px; /* 133.333% */
  }
}