.sign {
  &__rule {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;

    h5 {
      color: #718096;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: 0.2px;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__signup {

  }

  &__text {
    h2 {
      color: #FFF;
      text-align: center;
      font-family: 'Manrope', sans-serif;
      font-size: 40px;
      font-weight: 800;
      line-height: 110%; /* 44px */
    }

    p {
      margin-top: 20px;
      color: #FFF;
      font-family: 'Manrope', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 150%; /* 21px */
      letter-spacing: 0.2px;
      opacity: 0.7;
      max-width: 500px;
      text-align: center;
    }
  }

  &__up {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    border-radius: 14px;
    background: #F5F5F5;
    padding: 25px 69px 25px 24px;
    border: 2px solid #0000;
    max-width: 382px;
    width: 100%;
    animation-name: fadein;
    animation-duration: 2s;

    &_active {
      animation-name: fadein;
      animation-duration: 2s;
      border: 2px solid #6C5FBC;
      transition: 200ms;
    }
  }

  &__form {
    padding-top: 32px;

    form {
      padding-left: 92px;
      max-width: 473px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-top: 88px;

      h4 {
        color: #6C5FBC;
        font-size: 15.5px;
        font-weight: 400;
        text-align: right;
        margin-top: 12px;
        opacity: 0.7;
        cursor: pointer;
      }

      p {
        color: #3E3E3E;
        font-size: 19px;
        font-weight: 400;
        margin-top: 24px;
        text-align: center;
        letter-spacing: 0.189px;

        a {
          text-decoration: none;
          color: #6C5FBC;
          font-size: 19px;
          font-weight: 700;
          letter-spacing: 0.189px;
          text-transform: none;
        }
      }

      .sign__signup {
        background: #6C5FBC;
        color: #F3F5F6;
        max-width: 382px;
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        letter-spacing: 0.534px;
        text-transform: uppercase;
        margin-top: 39px;
      }

      span {
        color: rgba(0, 90, 100, 0.35);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-top: 33px;
        margin-bottom: 35px;
        text-align: center;
      }

      input {
        border: none;
        background: none;
        padding-left: 34px;
        color: #6C5FBC;
        font-size: 16px;;
        padding-right: 10px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.334px;
        text-transform: capitalize;
      }

      label {
        color: #323142;
        font-size: 35.25px;
        margin-bottom: 48px;
        font-weight: 600;
        text-align: center;
        line-height: 125%; /* 44.063px */
        letter-spacing: -1.41px;
      }

      div {
        display: flex;
        gap: 21px;
      }

      button {
        border-radius: 13.341px;
        background: #F5F5F5;
        cursor: pointer;
        border: none;
        padding: 16.5px;
        max-width: 183px;
        max-height: 63px;
        width: 100%;
      }
    }
  }

  &__illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 249px;
    padding-left: 78px;
    background: #6C5FBC url("../assets/illustration.png");
    box-shadow: 320px 172px 1px 320px #6C5FBC;
  }
}

@media screen and (max-width: 1440px) {
  .sign {
    &__rule {
      gap: 30px;
      justify-content: center;
    }
    &__input {
      padding: 17px 0 17px 16px;

      input {
        font-size: 12px;
        letter-spacing: 0.83px;

      }
      img {
        max-width: 16px;
        max-height: 16px;
      }
    }
    &__form {
      form {
        p {
          font-size: 13px;
          a {
            font-size: 13px;
          }
        }
        .sign__signup {
          margin-top: 13px;
          padding: 17px;
          font-size: 12.649px;
          font-weight: 600;
          letter-spacing: 0.379px;
        }
        h4 {
          font-size: 11px;
        }
        span {
          margin-top: 23px;
          margin-bottom: 28px;
          font-size: 14px;
        }
        input {
          padding: 0;
        }
        > div {
          gap: 15px;
          justify-content: center;
        }
        button {
          max-width: 130px;
          img {
            max-width: 19px;
          }
          padding: 7px 56px;
        }
        label {
          margin-bottom: 35px;
          font-size: 25px;
          line-height: 125%; /* 31.333px */
        }
      }

    }
    &__text {
      h2 {
        font-size: 28px;
        line-height: 110%; /* 31.289px */
      }
      p {
        font-size: 10px;
        line-height: 150%; /* 14.933px */
      }
    }
    &__illustration {
      padding-top: 177px;
      padding-left: 55px;
      max-width: 355px;
      img {
        max-width: 388px;
      }
    }


  }
}